body{
  margin: 0;
}
nav {
  background-color: rgb(201, 62, 62);
  min-height: 60px;
}
header {
background-color: rgb(66, 212, 66);
min-height: 150px;
}
main {
  background-color: aqua;
  min-height: 350px;
}
aside {
  background-color: rgb(241, 100, 241);
  min-height: 350px;
  }
footer {
background-color: rgb(73, 73, 189);
min-height: 80px;
}
.placeholder {
  color: white;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.row {
  display: flex;
}
.column {
  flex: 1 0 0;
  /* 
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  */
}
.container {
  max-width: 980px;
 margin: 0 auto;
}